<section class="content" id="content">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div class="offer animated fadeInLeft">
          <div class="offer__title">
            About BMW
          </div>
          <div class="offer__intro">
            Simple to use for your app, products<br>showcase and your inspiration
          </div>
          <div class="offer__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit
          </div>
        </div>
      </div>
      <div class="col-lg-6 ml-auto">
        <img src="../../assets/bmw/bmw.png" class="picture picture_car animated fadeInRight" alt="picture_bmw">
      </div>
    </div>

    <div class="row order">
      <div class="col-lg-6 ml-auto col1">
        <img src="../../assets/bmw/bmw_label.png" class="picture picture_label animated fadeInLeft" alt="picture_bmw">
      </div>
      <div class="col-lg-6 col2">
        <div class="offer animated fadeInRight">
          <div class="offer__title">
            About Labels BMW
          </div>
          <div class="offer__intro">
            Simple to use for your app, products<br>showcase and your inspiration
          </div>
          <p class="offer__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit
          </p>
        </div>
      </div>
    </div>

  </div>

</section>
