/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 0 0 0;
  font-family: 'PT Sans', sans-serif;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000;
}
h3 {
  font-weight: 400;
}
h2 {
  text-align: center;
}
a {
  color: #000;

}
a:hover{
  color: #000;
}
.content{
  background: rgb(242, 242, 242);
  padding-bottom: 105px;
}
.offer {
  margin-top: 117px;
}
.offer__title {
  font-size: 32px;
  margin-bottom: 15px;
}
.offer__intro {
  font-size: 20px;
  line-height: 1.3em;
}
.offer__text {
  font-size: 16px;
  margin-top: 15px;
  color: #000;
  width: 400px;
}
.picture {
  display: block;
  margin: 60px auto 0;
}
.picture_car{
  width: 100%;
}

.picture_label{
  padding-top: 40px;
  width: 40%
}
.rowall {
  display: flex;
  flex-flow: wrap;
}
.col1 {
  order: 0;
}
.col2 {
  order: 1;
}
.title {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}
.title__main {
  font-size: 32px;
}
.title__text {
  font-size: 20px;
  width: 780px;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
  .offer {
    text-align: center;
  }
  .offer__text {
    margin: 20px auto;
    width: auto
  }
  .col1 {
    order: 1;
  }
  .col2 {
    order: 0;
  }
  .picture {
    margin-top: 10px
  }
  .picture_car {
    padding-top: 10px
  }
  .title{
    text-align:center;
  }
  .title__text {
    margin: 20px auto;
    width: auto
  }
}
@media screen and (max-width: 576px){
  .picture {
    width: 100%;
  }
}
